# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# Log files
*.log

# SQLite or other DB files
*.sqlite

# Local timestamp file (not pushed to GitHub)
last_extraction.txt

#DSTORE
.DS_Store


